node_modules
.next
.next-*/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.form-test.local
.vercel
test-results/
playwright-report/
.playwright-cli/
