@import "bootstrap/dist/css/bootstrap.min.css";

//remixicon - removed, using lucide-react instead

//swiper
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/grid";
@import 'swiper/css/thumbs';
@import 'swiper/css/free-mode';
@import 'swiper/css/effect-fade';

//aos
@import "aos/dist/aos.css";

//date picker
@import "react-datepicker/dist/react-datepicker.css";

//photoswipe
@import 'photoswipe/dist/photoswipe.css';



@import "style.scss";



 